@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-up-fade {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-100px) scale(0.8);
    opacity: 0;
  }
}

.diamond {
  width: 50px;
  height: 50px;
  background-image: url('../public/bintang.png');
  /* transform: rotate(45deg); */
  /* border: 2px solid #DAA520; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  clip-path: polygon(
    50% 0%,
    100% 50%,
    50% 100%,
    0% 50%
  );
  animation: pulse 2s infinite;
}


@keyframes fall {
  0% {
    top: -10%;
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    top: 100%;
    transform: translateY(200px) rotate(180deg);
    opacity: 1; /* <-- Ubah jadi 1 */
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-bounce-up-fade {
  animation: bounce-up-fade 1.5s ease-out forwards;
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
